/* Estilos Globais */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    /* Fundo cinza claro */
    color: #333333;
    /* Texto cinza escuro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
    /* Fundo branco */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Sombra mais suave */
    overflow: hidden;
    padding: 40px;
    /* Maior padding para espaçamento interno */
}


/* TodoWrapper Styles */

.todo-wrapper {
    display: flex;
    justify-content: space-between;
}

.pending-tasks,
.completed-tasks {
    width: 45%;
}

h2 {
    border-bottom: 1px solid #cccccc;
    /* Linha de separação cinza */
    padding-bottom: 10px;
    margin-bottom: 30px;
    /* Maior margem inferior */
}


/* Botões */

button {
    background-color: #007bff;
    /* Fundo azul */
    color: #ffffff;
    /* Texto branco */
    border: none;
    padding: 15px;
    /* Maior padding para botões maiores */
    cursor: pointer;
    border-radius: 5px;
    /* Bordas arredondadas */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    /* Azul escuro ao passar o mouse */
}

button:focus {
    outline: none;
}

button.delete {
    background-color: #dc3545;
    /* Fundo vermelho */
    color: #ffffff;
    /* Texto branco */
    margin-left: 10px;
    border-radius: 5px;
    /* Bordas arredondadas */
}

button.delete:hover {
    background-color: #c82333;
    /* Vermelho escuro ao passar o mouse */
}

button.complete {
    background-color: #28a745;
    /* Fundo verde */
    color: #ffffff;
    /* Texto branco */
    border-radius: 5px;
    /* Bordas arredondadas */
}

button.complete:hover {
    background-color: #218838;
    /* Verde escuro ao passar o mouse */
}


/* Task Styles */

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    /* Fundo cinza mais claro */
    padding: 20px;
    /* Maior padding para tarefas maiores */
    border-radius: 5px;
    margin-bottom: 30px;
    /* Maior margem inferior */
    transition: background-color 0.3s ease;
    flex-wrap: wrap;
    /* Permitir que os elementos sejam quebrados em várias linhas se necessário */
}

.task span {
    flex: 1;
    margin-right: 10px;
}


/* Ajuste dos botões dentro das tarefas */

.task-buttons {
    display: flex;
    gap: 20px;
    /* Maior espaçamento entre os botões */
}

.task.completed {
    background-color: #28a745;
    /* Verde para completadas */
    text-decoration: line-through;
}


/* TaskForm Styles */

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* Maior gap para mais espaçamento */
    padding: 30px;
    /* Maior padding para espaçamento interno */
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 15px;
    /* Maior espaçamento entre labels */
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    padding: 10px;
    border: 1px solid #000000;
    /* Borda preta */
    border-radius: 5px;
    background-color: #f8f9fa;
    /* Fundo cinza mais claro */
    color: #333333;
    /* Texto cinza escuro */
    font-size: 16px;
    /* Tamanho da fonte maior */
}


/* Remove o seta do input date no Firefox */

input[type="date"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}


/* Remove o seta do input date no Chrome e Safari */

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus {
    outline: none;
    border: 1px solid #007bff;
    /* Borda azul */
}

form button {
    align-self: flex-start;
}

form button[type="submit"] {
    background-color: #007bff;
    /* Fundo azul */
    color: #ffffff;
    /* Texto branco */
    padding: 15px 30px;
    /* Maior padding para botão maior */
    border-radius: 5px;
    /* Bordas arredondadas */
}

form button[type="submit"]:hover {
    background-color: #0056b3;
    /* Azul escuro ao passar o mouse */
}